{% load static %}

<form class="shop-form" action="{% url 'filter' %}" method="get" name="filter">
	
				
	 <fieldset class="shop-filter">
		<legend>Мануфактурщики:</legend>
		{% for name in names_set %}
			<label class="manufacters-checkbox" name="name" value="{{ name }}">
				<input type="checkbox" name="baxter">
				<span class="checkbox-indicator"></span>
				<span class="checkbox-title">{{ name }}</span>
			</label>
		{% endfor %}		
	</fieldset>
		
	<fieldset class="shop-filter">
		<legend>Группы для формы:</legend>
		{% for group_in_form in groups_in_form %}
			<label class="group-goods-radio" name="good_group" value="{{ group_in_form.good_group }}">
				<input type="radio" name="categories" value="razor">
				<span class="radio-indicator"></span>
				{{ group_in_form.good_group }}
			</label>
		{% endfor %}
	</fieldset>
	
	<button class="btn" type="submit">Фильтр</button>
</form>