{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Интернет-магазин - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}


{% block content %}
    <h1 class="shop-title">
        Средства для ухода       
    </h1>
    
    <ul class="breadcrumbs">
        <li><a href="{% url 'main_page_url' %}">Главная</a></li>
        <li><a href="{% url 'shop_page_url' %}">Магазин</a></li>
        <li class="current">Средства для ухода</li>        
    </ul>
    
    <div class="shop-content">
        <div class="shop-columns clearfix">
            <div class="shop-columns-left">
                <form class="shop-form" action="https://echo.htmlacademy.ru" method="post">
                    <fieldset class="shop-filter">
                    <legend>Производители:</legend>                    
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" checked>
                            <span class="checkbox-indicator"></span>
                            Baxter of California
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" disabled>
                            <span class="checkbox-indicator"></span>
                            <span class="checkbox-title">Mr Natty</span>
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" checked>
                            <span class="checkbox-indicator"></span>
                            Suavecito
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter">
                            <span class="checkbox-indicator"></span>
                            Malin+Goetz
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter">
                            <span class="checkbox-indicator"></span>
                            Murray's
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" checked disabled>
                            <span class="checkbox-indicator"></span>
                            American Crew
                        </label>   
                    </fieldset>
                    <fieldset class="shop-filter">
                    <legend>Группы товаров:</legend>
                        <label class="group-goods-radio">
                            <input type="radio" name="categories" value="razor">
                            <span class="radio-indicator"></span>
                            Бритвенные<br>принадлежности
                        </label>
                        <label class="group-goods-radio">
                            <input type="radio" name="categories" value="care" checked>
                            <span class="radio-indicator"></span>
                            Средства для ухода
                        </label>
                        <label class="group-goods-radio">
                            <input type="radio" name="categories" value="accessories" disabled>
                            <span class="radio-indicator"></span>
                            Аксессуары
                        </label>
                    </fieldset>
                        <button class="btn" type="submit">Показать</button>
                </form>
                
            </div>

            <div class="shop-columns-right">
                <section class="goods-list">			
				
				
				{% for good in goods %}
					<article class="good">
						<img src="{{ good.preview_image.url }}" width="220" height="165" alt="">
						<div class="good-title">
							<span class="good-category">{{ good.category }}</span>
							<span class="good-name">"{{ good.name }}"</span>
						</div>
						<div class="good-price-content">
							<span class="price good-price">{{ good.price }} руб.</span>							
							<a class="btn good-btn" href="{{ good.get_absolute_url }}">Купить</a>
						</div>
					</article>
				{% endfor %}
				
                </section>


                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li class="current"><span>2</span></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>


            </div>

        </div>      
    </div>    
{% endblock %}