{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Набор для путешествий "BAXTER OF CALIFORNIA" - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}



{% block content %}
    <h1 class="item-title">
        {{ item.category }} "{{ item.name }}"       
    </h1>
    
    <ul class="breadcrumbs">
        <li><a href="{% url 'main_page_url' %}">Главная</a></li>
        <li><a href="{% url 'shop_page_url' %}">Магазин</a></li>
        <li><a href="{% url 'shop_page_url_by_groups' item.good_group.slug %}">{{ item.good_group }}</a></li>
        <li class="current">{{ item.category }} "{{ item.name }}"</li>
    </ul>
    
    <div class="item-content">
        <div class="item-columns clearfix">
            <div class="item-columns-left">
                <div class="item-gallery">                    
                    <img class="main-photo" src="{% static 'images/item-big.png' %}" 
                        width="460" height="500">                    
                    <img class="additional-photo" src="{% static 'images/item-little-1.png' %}" 
                        width="140" height="150">
                    <img class="additional-photo" src="{% static 'images/item-little-2.png' %}" 
                        width="140" height="150">
                    <img class="additional-photo" src="{% static 'images/item-little-3.png' %}" 
                        width="140" height="150">
                </div>   
            </div>

            <div class="item-columns-right">
                <div class="description">
                    <div class="presence clearfix">						
						<span>{% if item.available %} Есть в наличии {% else %} Нет в наличии {% endif %}</span>	
                        <span class="article">Артикул: {{ item.article }}</span> 
                    </div>

                    <p class="item-short-text">
						{{ item.short_description }}
                    </p>

                    <div class="price-content">
                        <span class="price">{{ item.price }} руб.</span>
                        <a class="btn" href="#">Купить</a>
                    </div>

                    <h2>В набор входят:</h2>
                    <ul class="custom-list-1">
                        {{ item.description }}
                    </ul>
                </div>
            </div>
        </div>            
    </div>    
{% endblock %}