{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Набор для путешествий "BAXTER OF CALIFORNIA" - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}



{% block content %}
    <h1 class="item-title">
        Набор для путешествий "Baxter of California"        
    </h1>
    
    <ul class="breadcrumbs">
        <li><a href="index.html">Главная</a></li>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">Средства для ухода</a></li>
        <li class="current">Набор для путешествий "Baxter of California"</li>
    </ul>
    
    <div class="item-content">
        <div class="item-columns clearfix">
            <div class="item-columns-left">
                <div class="item-gallery">                    
                    <img class="main-photo" src="{% static 'images/item-big.png' %}" 
                        width="460" height="500">                    
                    <img class="additional-photo" src="{% static 'images/item-little-1.png' %}" 
                        width="140" height="150">
                    <img class="additional-photo" src="{% static 'images/item-little-2.png' %}" 
                        width="140" height="150">
                    <img class="additional-photo" src="{% static 'images/item-little-3.png' %}" 
                        width="140" height="150">
                </div>   
            </div>

            <div class="item-columns-right">
                <div class="description">
                    <div class="presence clearfix">
                        <span>Есть в наличии</span>
                        <span class="article">Артикул: Dexter-AE</span> 
                    </div>

                    <p class="item-short-text">Travel Kit - необходимый аксессуар во время
                        любого путешествия. В аккуратной кожаной сумке находится все, что
                        нужно для бритья и ухода за кожей во время рабочей поездки или отдыхаЖ
                        средство для умывания, увлажняющий крем, крем для бритья, крем после
                        бритья, шампунь. Набор также может стать отличным подарком.
                    </p>

                    <div class="price-content">
                        <span class="price">2 900 руб.</span>
                        <a class="btn" href="#">Купить</a>
                    </div>

                    <h2>В набор входят:</h2>
                    <ul class="custom-list-1">
                        <li>Средство для умывания (50 мл)</li>
                        <li>Увлажнящий крем (50 мл)</li>
                        <li>Крем для бритья (50 мл)</li>
                        <li>Крем после бритья, шампунь (50 мл)</li>
                        <li>Удобная кожаная косметичка</li>
                    </ul>
                </div>
            </div>
        </div>            
    </div>    
{% endblock %}