{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Новости - {{ block.super }}
{% endblock %}

{% block bodyclass%}
	class="inner-page"
{% endblock %}


{% block content %} 
    <h1 class="inner-page-title">
        Новости      
    </h1>
    <ul class="breadcrumbs">        
        <li><a href="index.html">Главная</a></li>
        <li class="current">Новости</li>        
    </ul>

    <div class="inner-content">
        <div class="big-heading">
            <h2>Читай, пока стрижем!</h2>
        </div>     

		<div class="inner-columns clearfix">
			<h2>Мы используем только лучшие средства</h2>
			<h4>2020-11-05</h4>
			<p class="short-text">Наша мастерская расположеная в центре города, поэтому
				сделать стильную стрижку можно в любое время, даже в
				обеденный перерыв. Здесь вы можете погрузиться в удобную
				для вас атмосферу, чувствовать себя комфортно и свободно!
			</p>	
			<a href="" class="btn">Полный текст</a>			
        </div>

        <div class="inner-columns clearfix">
            
            <div class="inner-columns-left">
			<h2>Мы используем только<br/>лучшие средства:</h2>
			<h4>2020-11-05</h4>
            <p class="short-text">Наша парикмахерская занимается исключительно мужскими
                стрижками. Стрижка каждого клиента для нас - это уникальная
                и продуманная до мелочей работа. Мы не работаем на количество,
                мы делаем качество.
            </p>
			<a href="" class="btn">Полный текст</a>
            </div>
			
            <div class="inner-columns-right">
			<h2>Мы используем только<br/>лучшие средства:</h2>
			<h4>2020-11-05</h4>
            <p class="short-text">Наша мастерская расположеная в центре города, поэтому
                сделать стильную стрижку можно в любое время, даже в
                обеденный перерыв. Здесь вы можете погрузиться в удобную
                для вас атмосферу, чувствовать себя комфортно и свободно!
            </p>
			<a href="" class="btn">Полный текст</a>
			</div>
        </div>	
		
    </div>    
{% endblock %}
