{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Новости - {{ block.super }}
{% endblock %}

{% block bodyclass%}
	class="inner-page"
{% endblock %}


{% block content %} 
    <h1 class="inner-page-title">
        Новости      
    </h1>
    <ul class="breadcrumbs">        
        <li><a href="index.html">Главная</a></li>
        <li class="current">Новости</li>        
    </ul>

    <div class="inner-content">
        <div class="big-heading">
            <h2>Читай, пока стрижем!</h2>
        </div>  		
		
		{% for news in all_news %}
			<div class="inner-columns clearfix">
			<h2>{{ news.title }}</h2>
			<h4>{{ news.date }}</h4>
			<p class="short-text">{{ news.body|truncatewords:20 }}</p>	
			<a href="" class="btn">Полный текст</a>			
        </div>
		{% endfor%}

        <div class="inner-columns clearfix">
			{% for news in all_news %}
				{% if not news.id|divisibleby:"2" %}
					<div class="inner-columns-left">
						<h2>{{ news.title }}</h2>
						<h4>{{ news.date }}</h4>
						<p class="short-text"> {{ news.body|truncatewords:20 }}</p>
						<a href="" class="btn">Полный текст</a>
					</div>
				{% else %}
					<div class="inner-columns-right">
						<h2>{{ news.title }}</h2>
						<h4>{{ news.date }}</h4>
						<p class="short-text"> {{ news.body|truncatewords:20 }}</p>
						<a href="" class="btn">Полный текст</a>
					</div>	
				{% endif %}		
			{% endfor %}            
        </div>	
		
    </div>    
{% endblock %}
