{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Интернет-магазин - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}


{% block content %}
    <h1 class="shop-title">
        Средства для ухода       
    </h1>
    
    <ul class="breadcrumbs">
        <li><a href="index.html">Главная</a></li>
        <li><a href="#">Магазин</a></li>
        <li class="current">Средства для ухода</li>        
    </ul>
    
    <div class="shop-content">
        <div class="shop-columns clearfix">
            <div class="shop-columns-left">
                <form class="shop-form" action="https://echo.htmlacademy.ru" method="post">
                    <fieldset class="shop-filter">
                    <legend>Производители:</legend>                    
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" checked>
                            <span class="checkbox-indicator"></span>
                            Baxter of California
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" disabled>
                            <span class="checkbox-indicator"></span>
                            <span class="checkbox-title">Mr Natty</span>
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" checked>
                            <span class="checkbox-indicator"></span>
                            Suavecito
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter">
                            <span class="checkbox-indicator"></span>
                            Malin+Goetz
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter">
                            <span class="checkbox-indicator"></span>
                            Murray's
                        </label>
                        <label class="manufacters-checkbox">
                            <input type="checkbox" name="baxter" checked disabled>
                            <span class="checkbox-indicator"></span>
                            American Crew
                        </label>   
                    </fieldset>
                    <fieldset class="shop-filter">
                    <legend>Группы товаров:</legend>
                        <label class="group-goods-radio">
                            <input type="radio" name="categories" value="razor">
                            <span class="radio-indicator"></span>
                            Бритвенные<br>принадлежности
                        </label>
                        <label class="group-goods-radio">
                            <input type="radio" name="categories" value="care" checked>
                            <span class="radio-indicator"></span>
                            Средства для ухода
                        </label>
                        <label class="group-goods-radio">
                            <input type="radio" name="categories" value="accessories" disabled>
                            <span class="radio-indicator"></span>
                            Аксессуары
                        </label>
                    </fieldset>
                        <button class="btn" type="submit">Показать</button>
                </form>
                
            </div>

            <div class="shop-columns-right">
                <section class="goods-list">
                <article class="good">
                    <img src="{% static 'images/shop-set-adven-baxter.png' %}" width="220" height="165" alt="">
                    <div class="good-title">
                        <span class="good-category">Набор для путешествий</span>
                        <span class="good-name">"Baxter of California"</span>
                    </div>
                    <div class="good-price-content">
                        <span class="price good-price">2 900 руб.</span>
                        <a class="btn good-btn" href="{% url 'item_page_url' %}">Купить</a>
                    </div>
                </article>
                <article class="good">
                    <img src="{% static 'images/shop-cond-baxter.png' %}" width="220" height="165" alt="">
                    <div class="good-title">
                        <span class="good-category">Увлажняющий кондиционер</span>
                        <span class="good-name">"Baxter of California"</span>
                    </div>
                    <div class="good-price-content">
                        <span class="price good-price">750 руб.</span>
                        <a class="btn good-btn" href="#">Купить</a>
                    </div>
                </article>
                <article class="good">
                    <img src="{% static 'images/shop-gel-suavecito.png' %}" width="220" height="165" alt="">
                    <div class="good-title">
                        <span class="good-category">Гель для волос</span>
                        <span class="good-name">"Suavecito"</span>
                    </div>
                    <div class="good-price-content">
                        <span class="price good-price">290 руб.</span>
                        <a class="btn good-btn" href="#">Купить</a>
                    </div>
                </article>
                <article class="good">
                    <img src="{% static 'images/shop-clay-american-crew.png' %}" width="220" height="165" alt="">
                    <div class="good-title">
                        <span class="good-category">Глина для укладки волос</span>
                        <span class="good-name">"American crew"</span>
                    </div>
                    <div class="good-price-content">
                        <span class="price good-price">500 руб.</span>
                        <a class="btn good-btn" href="#">Купить</a>
                    </div>
                </article>
                <article class="good">
                    <img src="{% static 'images/shop-gel-american-crew.png' %}" width="220" height="165" alt="">
                    <div class="good-title">
                        <span class="good-category">Гель для волос</span>
                        <span class="good-name">"American crew"</span>
                    </div>
                    <div class="good-price-content">
                        <span class="price good-price">300 руб.</span>
                        <a class="btn good-btn" href="#">Купить</a>
                    </div>
                </article>
                <article class="good">
                    <img src="{% static 'images/shop-set-shav-baxter.png' %}" width="220" height="165" alt="">
                    <div class="good-title">
                        <span class="good-category">Набор для бритья</span>
                        <span class="good-name">"Baxter of California"</span>
                    </div>
                    <div class="good-price-content">
                        <span class="price good-price">3 900 руб.</span>
                        <a class="btn good-btn" href="#">Купить</a>
                    </div>
                </article>
                </section>


                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li class="current"><span>2</span></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>


            </div>

        </div>      
    </div>    
{% endblock %}